# macOS system files
.DS_Store

# Tag files
tags

# Custom scripts
test.sh

# Neovim Lua workspace settings
.luarc.json

# Spelling files
spell/

# Lazy.nvim lockfile
lazy-lock.json

# Swap/backup/undo files
*.swp
*.swo
*.bak
*.tmp
*~

# Session files
session/